* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: bisque;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}
img.recipe-page-banner {
    height: 500px;
    width: auto;
    margin-bottom: 50px;
}
ul.homepage-recipes {
    font-size: 24px;
}
.homepage-recipes li {
    margin: 0 auto;
    padding: 12px;
}
h3 {
    padding: 24px 0px;
}